/* input {
    border: 3px blue solid;
    border-radius: 4px;
} */
input,
textarea {
    border: 2px #34038f solid;
    width: 20%;
    border-radius: 2px;
}
body {
    background-color:#2c3e50;
}
form{
    background-color: #2c3e50;
}
.centre-div {
    border-left: 2px darksalmon;
    border-right: 2px darksalmon;
    margin-right:auto;
    margin-left:auto;
    width: 400px;
    display: flex;
    flex-direction:column;
    padding-left: 100px;
    padding-right: 100px;
}
.drop-in {
    animation: animation-in 1s ease 200ms backwards;
}
.drop-in-2 {
    animation: animation-in 1200ms ease 500ms backwards;
}

@keyframes animation-in {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: border-box;
    box-sizing: border-box;
    }
    body{
        font-family: montserrat;
    }
    nav{
        background: #0082e6;
        height: 80px;
        width: 100%;
    }
    label.logo{
        color:white;
        font-size: 35px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
        text-transform: uppercase;
    }
  nav ul{
    display: flex;
    gap: 50opx;
    align-items: center;
  }
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: 5s;
    }
    
#check{
    display: none;
}
@media(max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media(max-width:852px){
    .checkbtn{
    display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100;
        text-align: center;
        transition: all 5s;
    }
    nav ul li{
        display: block;
       margin: 50px;
       line-height: 30px;
  
    }
    nav ul li a{
        background: none;
        color: #0082e6;

    }
    #check:checked ul{
        left: 0;
    }
}
table,th,td{
    border: 1px solid black;
}